<h1>DataFrame의 정의</h1>

In [4]:
#DataFrame : index와 column으로 구성된 2차원 배열

import pandas as pd
import numpy as np

name1 = np.array(["KIM","LEE","JUNG","SHIN","OH"])
score1 = np.array([50,30,20,80,70])
s1 = pd.Series(score1, index=name1)
print(s1)

"""
KIM     50
LEE     30
JUNG    20
SHIN    80
OH      70
dtype: int64
"""


name2 = np.array(["LEE","KIM","OH","JUNG","SHIN"])
score2 = np.array([40,80,60,90,50])
s2 = pd.Series(score2, index=name2)
print(s2)

"""
LEE     40
KIM     80
OH      60
JUNG    90
SHIN    50
dtype: int64

"""

d = pd.DataFrame()
d['KOR'] = s1
d['ENG'] = s2
d["SUM"] = d.KOR + d.ENG
print(d)

"""
      KOR  ENG  SUM
KIM    50   80  130
LEE    30   40   70
JUNG   20   90  110
SHIN   80   50  130
OH     70   60  130
"""

KIM     50
LEE     30
JUNG    20
SHIN    80
OH      70
dtype: int64
LEE     40
KIM     80
OH      60
JUNG    90
SHIN    50
dtype: int64
      KOR  ENG  SUM
KIM    50   80  130
LEE    30   40   70
JUNG   20   90  110
SHIN   80   50  130
OH     70   60  130

'\n      KOR  ENG  SUM\nKIM    50   80  130\nLEE    30   40   70\nJUNG   20   90  110\nSHIN   80   50  130\nOH     70   60  130\n'

<h1>DataFrame 생성</h1>

In [33]:
# list로 DataFrame 만들기
import pandas as pd
import numpy as np

# axis가 1인 형태로 데이터 넣기
# 데이터 형태가 row로 나열

score = [[100,40,30,20],[80,50,30,70],[90,80,50,80]]
name = ['JUNG','SHIN','KIM']
subject = ['KOR','ENG','MATH','HISTORY']

# columns = column명을 정해줌
df1 = pd.DataFrame(score, index = name, columns = subject)
print(df1)
         
"""
      KOR  ENG  MATH  HISTORY
JUNG  100   40    30       20
SHIN   80   50    30       70
KIM    90   80    50       80
"""

# axis가 0인 형태로 데이터 넣기
# 데이터 형태가 column 형태로 나열

name = ['JUNG','SHIN','KIM']

s1 = [100,80,90]
s2 = [40,50,80]
s3 = [30,30,50]
s4 = [20,70,80]

df2 = pd.DataFrame(index= name)
df2["KOR"] = s1
df2["ENG"] = s2
df2["MATH"] = s3
df2["HISTORY"] = s4
print(df2)

"""
      KOR  ENG  MATH  HISTORY
JUNG  100   40    30       20
SHIN   80   50    30       70
KIM    90   80    50       80
"""

      KOR  ENG  MATH  HISTORY
JUNG  100   40    30       20
SHIN   80   50    30       70
KIM    90   80    50       80
      KOR  ENG  MATH  HISTORY
JUNG  100   40    30       20
SHIN   80   50    30       70
KIM    90   80    50       80

In [10]:
# dictionary로 DataFrame 만들기
import pandas as pd
import numpy as np

x = {"KOR" : [100,80,90], "ENG":[40,50,80], "MATH":[30,30,50],"HISTORY":[20,70,80]}
name = ["JUNG","SHIN","KIM"]
df2 = pd.DataFrame(x, index=name)
print(df2)

"""
      KOR  ENG  MATH  HISTORY
JUNG  100   40    30       20
SHIN   80   50    30       70
KIM    90   80    50       80
"""

      KOR  ENG  MATH  HISTORY
JUNG  100   40    30       20
SHIN   80   50    30       70
KIM    90   80    50       80

'\n      KOR  ENG  MATH  HISTORY\nJUNG  100   40    30       20\nSHIN   80   50    30       70\nKIM    90   80    50       80\n'

In [15]:
# Series로 DataFrame 만들기

import pandas as pd
import numpy as np

# 빈 DataFrame을 만들고, column을 추가하는 방식

name = ["JUNG","SHIN","KIM"]
d = pd.DataFrame()
s1 = pd.Series([100,80,90] ,index = name)
s2 = pd.Series([40,50,80] ,index = name)
s3 = pd.Series([30,30,50] ,index = name)
s4 = pd.Series([20,70,80] ,index = name)

d["KOR"] = s1
d["ENG"] = s2
d["MATH"] = s3
d["HISTORY"] = s4

print(d)

"""
      KOR  ENG  MATH  HISTORY
JUNG  100   40    30       20
SHIN   80   50    30       70
KIM    90   80    50       80
"""

# Series들을 dictionary에 넣고, 한번에 DataFrame에 추가하는 방식 

name = ["JUNG","SHIN","KIM"]
s1 = pd.Series([100,80,90] ,index = name)
s2 = pd.Series([40,50,80] ,index = name)
s3 = pd.Series([30,30,50] ,index = name)
s4 = pd.Series([20,70,80] ,index = name)

frame = {"KOR":s1, "ENG": s2, "MATH":s3, "HISTORY":s4}
d2 = pd.DataFrame(frame,index= name)
print(d2)
"""
      KOR  ENG  MATH  HISTORY
JUNG  100   40    30       20
SHIN   80   50    30       70
KIM    90   80    50       80
"""

      KOR  ENG  MATH  HISTORY
JUNG  100   40    30       20
SHIN   80   50    30       70
KIM    90   80    50       80
      KOR  ENG  MATH  HISTORY
JUNG  100   40    30       20
SHIN   80   50    30       70
KIM    90   80    50       80

<h1>DataFrame의 index, column변경</h1>

In [25]:
# index 변경1 : .index

import pandas as pd
import numpy as np

name = ["JUNG","SHIN","KIM"]
s1 = pd.Series([100,80,90] ,index = name)
s2 = pd.Series([40,50,80] ,index = name)
s3 = pd.Series([30,30,50] ,index = name)
s4 = pd.Series([20,70,80] ,index = name)

frame = {"KOR":s1, "ENG": s2, "MATH":s3, "HISTORY":s4}
d2 = pd.DataFrame(frame,index= name)

d2.index = ["stu1","stu2","stu3"]
print(d2)

"""
     KOR  ENG  MATH  HISTORY
stu1  100   40    30       20
stu2   80   50    30       70
stu3   90   80    50       80
"""

#index 변경2 rename
d2.rename(index={"stu1":"MIN", "stu2":"JAY"})
print(d2)
"""
      KOR  ENG  MATH  HISTORY
stu1  100   40    30       20
stu2   80   50    30       70
stu3   90   80    50       80
"""

# 따로 변수에 저장하지 않는 이상 변하지 않음
d3 = d2.rename(index={"stu1":"MIN", "stu2":"JAY"})
print(d3)

"""
      KOR  ENG  MATH  HISTORY
MIN   100   40    30       20
JAY    80   50    30       70
stu3   90   80    50       80
"""

# inplace = True라는 옵션을 넣으면, 원본 객체 변경

d2.rename(index={"stu1":"MIN", "stu2":"JAY"}, inplace = True)
print(d2)

"""
      KOR  ENG  MATH  HISTORY
MIN   100   40    30       20
JAY    80   50    30       70
stu3   90   80    50       80
"""

      KOR  ENG  MATH  HISTORY
stu1  100   40    30       20
stu2   80   50    30       70
stu3   90   80    50       80
      KOR  ENG  MATH  HISTORY
stu1  100   40    30       20
stu2   80   50    30       70
stu3   90   80    50       80
      KOR  ENG  MATH  HISTORY
MIN   100   40    30       20
JAY    80   50    30       70
stu3   90   80    50       80
      KOR  ENG  MATH  HISTORY
MIN   100   40    30       20
JAY    80   50    30       70
stu3   90   80    50       80

In [32]:
# column 변경1 : columns

import pandas as pd
import numpy as np

name = ["JUNG","SHIN","KIM"]
s1 = pd.Series([100,80,90] ,index = name)
s2 = pd.Series([40,50,80] ,index = name)
s3 = pd.Series([30,30,50] ,index = name)
s4 = pd.Series([20,70,80] ,index = name)

frame = {"KOR":s1, "ENG": s2, "MATH":s3, "HISTORY":s4}
d2 = pd.DataFrame(frame,index= name)
print(d2)
"""
      KOR  ENG  MATH  HISTORY
JUNG  100   40    30       20
SHIN   80   50    30       70
KIM    90   80    50       80
"""

d2.columns = ["sub1","sub2","sub3","sub4"]
print(d2)
"""
      sub1  sub2  sub3  sub4
JUNG   100    40    30    20
SHIN    80    50    30    70
KIM     90    80    50    80
"""

# column 변경2 : rename

d2.rename(columns={"sub1": "KOR", "sub2" : "MATH"})
print(d2)
"""
      sub1  sub2  sub3  sub4
JUNG   100    40    30    20
SHIN    80    50    30    70
KIM     90    80    50    80
"""

#index와 마찬가지로 inplace = True 설정을 해주면 
# 원본 객체가 변경이 된다.
d2.rename(columns={"sub1": "KOR", "sub2" : "MATH"}, inplace= True)
print(d2)

"""
      KOR  MATH  sub3  sub4
JUNG  100    40    30    20
SHIN   80    50    30    70
KIM    90    80    50    80
"""

      KOR  ENG  MATH  HISTORY
JUNG  100   40    30       20
SHIN   80   50    30       70
KIM    90   80    50       80
      sub1  sub2  sub3  sub4
JUNG   100    40    30    20
SHIN    80    50    30    70
KIM     90    80    50    80
      sub1  sub2  sub3  sub4
JUNG   100    40    30    20
SHIN    80    50    30    70
KIM     90    80    50    80
      KOR  MATH  sub3  sub4
JUNG  100    40    30    20
SHIN   80    50    30    70
KIM    90    80    50    80

<h1>DataFrame 열 순서 변경</h2>

In [38]:
import pandas as pd
import numpy as np

name = ["JUNG","SHIN","KIM"]
s1 = pd.Series([100,80,90] ,index = name)
s2 = pd.Series([40,50,80] ,index = name)
s3 = pd.Series([30,30,50] ,index = name)
s4 = pd.Series([20,70,80] ,index = name)

frame = {"KOR":s1, "ENG": s2, "MATH":s3, "HISTORY":s4}
d2 = pd.DataFrame(frame,index= name)
print(d2)
"""
      KOR  ENG  MATH  HISTORY
JUNG  100   40    30       20
SHIN   80   50    30       70
KIM    90   80    50       80
"""

column_change = ['MATH','ENG','HISTORY','KOR']
d3 = d2[column_change]
print(d3)

"""
      MATH  ENG  HISTORY  KOR
JUNG    30   40       20  100
SHIN    30   50       70   80
KIM     50   80       80   90
"""

column_change = sorted(d2.columns)
d4 = d2[column_change]
print(d4)

"""
      ENG  HISTORY  KOR  MATH
JUNG   40       20  100    30
SHIN   50       70   80    30
KIM    80       80   90    50
"""

      KOR  ENG  MATH  HISTORY
JUNG  100   40    30       20
SHIN   80   50    30       70
KIM    90   80    50       80
      MATH  ENG  HISTORY  KOR
JUNG    30   40       20  100
SHIN    30   50       70   80
KIM     50   80       80   90
      ENG  HISTORY  KOR  MATH
JUNG   40       20  100    30
SHIN   50       70   80    30
KIM    80       80   90    50

<h1>DataFrame 행,열 삭제</h1>

In [54]:
# 행 삭제

import pandas as pd
import numpy as np

name = ["JUNG","SHIN","KIM"]
s1 = pd.Series([100,80,90] ,index = name)
s2 = pd.Series([40,50,80] ,index = name)
s3 = pd.Series([30,30,50] ,index = name)
s4 = pd.Series([20,70,80] ,index = name)

frame = {"KOR":s1, "ENG": s2, "MATH":s3, "HISTORY":s4}
d2 = pd.DataFrame(frame,index= name)
print(d2)
"""
      KOR  ENG  MATH  HISTORY
JUNG  100   40    30       20
SHIN   80   50    30       70
KIM    90   80    50       80
"""


# 행삭제 : drop
# 원본 객체 변하지 않음
print(d2.drop(['JUNG','SHIN'],axis=0))

"""
     KOR  ENG  MATH  HISTORY
KIM   90   80    50       80
"""
print(d2)

"""
      KOR  ENG  MATH  HISTORY
JUNG  100   40    30       20
SHIN   80   50    30       70
KIM    90   80    50       80
"""

d2.drop("KIM",axis=0 ,inplace = True)
print(d2)

"""
      KOR  ENG  MATH  HISTORY
JUNG  100   40    30       20
SHIN   80   50    30       70
"""


# 열삭제 drop, axis = 1
# 원본 객체 변하지 않음
print(d2.drop("KOR",axis=1))

"""
      ENG  MATH  HISTORY
JUNG   40    30       20
SHIN   50    30       70
"""
print(d2)
"""
      KOR  ENG  MATH  HISTORY
JUNG  100   40    30       20
SHIN   80   50    30       70
"""

# inplace = True , 원본 객체 변경
d2.drop(["KOR","MATH"],axis=1, inplace=True)
print(d2)
"""
      ENG  HISTORY
JUNG   40       20
SHIN   50       70
"""

      KOR  ENG  MATH  HISTORY
JUNG  100   40    30       20
SHIN   80   50    30       70
KIM    90   80    50       80
     KOR  ENG  MATH  HISTORY
KIM   90   80    50       80
      KOR  ENG  MATH  HISTORY
JUNG  100   40    30       20
SHIN   80   50    30       70
KIM    90   80    50       80
      KOR  ENG  MATH  HISTORY
JUNG  100   40    30       20
SHIN   80   50    30       70
      ENG  MATH  HISTORY
JUNG   40    30       20
SHIN   50    30       70
      KOR  ENG  MATH  HISTORY
JUNG  100   40    30       20
SHIN   80   50    30       70
      ENG  HISTORY
JUNG   40       20
SHIN   50       70

<h1>DataFrame 행,열 추가</h1>

In [61]:
import pandas as pd
import numpy as np

name = ["JUNG","SHIN","KIM"]
s1 = pd.Series([100,80,90] ,index = name)
s2 = pd.Series([40,50,80] ,index = name)
s3 = pd.Series([30,30,50] ,index = name)
s4 = pd.Series([20,70,80] ,index = name)

frame = {"KOR":s1, "ENG": s2, "MATH":s3, "HISTORY":s4}
d2 = pd.DataFrame(frame,index= name)
print(d2)
"""
      KOR  ENG  MATH  HISTORY
JUNG  100   40    30       20
SHIN   80   50    30       70
KIM    90   80    50       80
"""

# 예제를 위한 shallow copy
d3 = d2

# 행 추가
# loc[인덱스명] = 데이터, axis = 0 
# 예시 : 합계추가

d2.loc["SUM"] = d2.sum(axis=0)
print(d2)

"""
      KOR  ENG  MATH  HISTORY
JUNG  100   40    30       20
SHIN   80   50    30       70
KIM    90   80    50       80
SUM   270  170   110      170
"""

# 열 추가
# dataframe[인덱스명] = 데이터, axis = 1
# 예시 합계 추가

d2["SUM"] = d2.sum(axis=1)
print(d2)

"""
      KOR  ENG  MATH  HISTORY  SUM
JUNG  100   40    30       20  190
SHIN   80   50    30       70  230
KIM    90   80    50       80  300
SUM   270  170   110      170  720
"""

      KOR  ENG  MATH  HISTORY
JUNG  100   40    30       20
SHIN   80   50    30       70
KIM    90   80    50       80
      KOR  ENG  MATH  HISTORY
JUNG  100   40    30       20
SHIN   80   50    30       70
KIM    90   80    50       80
SUM   270  170   110      170
      KOR  ENG  MATH  HISTORY  SUM
JUNG  100   40    30       20  190
SHIN   80   50    30       70  230
KIM    90   80    50       80  300
SUM   270  170   110      170  720

In [65]:
# 값 수정

import pandas as pd
import numpy as np

name = ["JUNG","SHIN","KIM"]
s1 = pd.Series([100,80,90] ,index = name)
s2 = pd.Series([40,50,80] ,index = name)
s3 = pd.Series([30,30,50] ,index = name)
s4 = pd.Series([20,70,80] ,index = name)

frame = {"KOR":s1, "ENG": s2, "MATH":s3, "HISTORY":s4}
d2 = pd.DataFrame(frame,index= name)
print(d2)
"""
      KOR  ENG  MATH  HISTORY
JUNG  100   40    30       20
SHIN   80   50    30       70
KIM    90   80    50       80
"""

# loc으로 행 값 수정
# loc[인덱스명] = 데이터
d2.loc["KIM"] = [30,40,50,60]
print(d2)

"""
      KOR  ENG  MATH  HISTORY
JUNG  100   40    30       20
SHIN   80   50    30       70
KIM    30   40    50       60
"""

# iloc으로 행 값 수정
# iloc[인덱스] = 데이터

d2.iloc[1] = [100,100,100,100]
print(d2)

"""
      KOR  ENG  MATH  HISTORY
JUNG  100   40    30       20
SHIN  100  100   100      100
KIM    30   40    50       60
"""

# 열 수정 : dataframe[열]

d2["HISTORY"] = [1,2,3]
print(d2)

"""
      KOR  ENG  MATH  HISTORY
JUNG  100   40    30        1
SHIN  100  100   100        2
KIM    30   40    50        3
"""

      KOR  ENG  MATH  HISTORY
JUNG  100   40    30       20
SHIN   80   50    30       70
KIM    90   80    50       80
      KOR  ENG  MATH  HISTORY
JUNG  100   40    30       20
SHIN   80   50    30       70
KIM    30   40    50       60
      KOR  ENG  MATH  HISTORY
JUNG  100   40    30       20
SHIN  100  100   100      100
KIM    30   40    50       60
      KOR  ENG  MATH  HISTORY
JUNG  100   40    30        1
SHIN  100  100   100        2
KIM    30   40    50        3

<h1>DataFrame 부분 정보 선택</h1>

In [72]:
import pandas as pd
import numpy as np

name = ["JUNG","SHIN","KIM"]
s1 = pd.Series([100,80,90] ,index = name)
s2 = pd.Series([40,50,80] ,index = name)
s3 = pd.Series([30,30,50] ,index = name)
s4 = pd.Series([20,70,80] ,index = name)

frame = {"KOR":s1, "ENG": s2, "MATH":s3, "HISTORY":s4}
d2 = pd.DataFrame(frame,index= name)
print(d2)
"""
      KOR  ENG  MATH  HISTORY
JUNG  100   40    30       20
SHIN   80   50    30       70
KIM    90   80    50       80
"""

# index 접근
print(d2.index) # Index(['JUNG', 'SHIN', 'KIM'], dtype='object')

# columns 접근
print(d2.columns) # Index(['KOR', 'ENG', 'MATH', 'HISTORY'], dtype='object')

# values 접근
print(d2.values)

"""
[[100  40  30  20]
 [ 80  50  30  70]
 [ 90  80  50  80]]
"""

      KOR  ENG  MATH  HISTORY
JUNG  100   40    30       20
SHIN   80   50    30       70
KIM    90   80    50       80
Index(['JUNG', 'SHIN', 'KIM'], dtype='object')
Index(['KOR', 'ENG', 'MATH', 'HISTORY'], dtype='object')
[[100  40  30  20]
 [ 80  50  30  70]
 [ 90  80  50  80]]

'\n[[100  40  30  20]\n [ 80  50  30  70]\n [ 90  80  50  80]]\n'

In [73]:
# 열 접근

# 1. DataFrame[column명]
print(d2['MATH'])

"""
JUNG    30
SHIN    30
KIM     50
Name: MATH, dtype: int64
"""

# 2. Dataframe.column명
print(d2.MATH)

"""
JUNG    30
SHIN    30
KIM     50
Name: MATH, dtype: int64
"""

# 행 접근
# DataFrame[index : index]
print(d2[0:2])

"""
      KOR  ENG  MATH  HISTORY
JUNG  100   40    30       20
SHIN   80   50    30       70
"""

# DataFrame[index명: index명]
print(d2["JUNG": "SHIN"])

"""
      KOR  ENG  MATH  HISTORY
JUNG  100   40    30       20
SHIN   80   50    30       70
"""

JUNG    30
SHIN    30
KIM     50
Name: MATH, dtype: int64
JUNG    30
SHIN    30
KIM     50
Name: MATH, dtype: int64
      KOR  ENG  MATH  HISTORY
JUNG  100   40    30       20
SHIN   80   50    30       70
      KOR  ENG  MATH  HISTORY
JUNG  100   40    30       20
SHIN   80   50    30       70

'\n      KOR  ENG  MATH  HISTORY\nJUNG  100   40    30       20\nSHIN   80   50    30       70\n'

In [82]:
# 행과 열 같이 선택하기 : []

# DataFrame[column명][index:index]
print(d2["KOR"][0:2])
"""
JUNG    100
SHIN     80
"""

# DataFrame[column명][index명:index명]
print(d2["KOR"]["JUNG":"SHIN"])

"""
JUNG    100
SHIN     80
"""

# DataFrame.column명[index:index]
print(d2.MATH[0:2])
"""
JUNG    30
SHIN    30
"""

# DataFrame.column명[index명:index명]
print(d2.MATH["JUNG":"SHIN"])

"""
JUNG    30
SHIN    30
"""

JUNG    100
SHIN     80
Name: KOR, dtype: int64
JUNG    100
SHIN     80
Name: KOR, dtype: int64
JUNG    30
SHIN    30
Name: MATH, dtype: int64
JUNG    30
SHIN    30
Name: MATH, dtype: int64

In [89]:
# 행과 열 같이 선택하기 : loc을 이용한 행 선택
# loc[행 인덱스명, 열 인덱스명]
print(d2)
"""
      KOR  ENG  MATH  HISTORY
JUNG  100   40    30       20
SHIN   80   50    30       70
KIM    90   80    50       80
"""

print(d2.loc["JUNG","KOR":"ENG"])
"""
KOR    100
ENG     40
"""

print(d2.loc["JUNG"])

"""
KOR        100
ENG         40
MATH        30
HISTORY     20
"""

print(d2.loc["JUNG":"KIM", "HISTORY"])
"""
JUNG    20
SHIN    70
KIM     80
"""

      KOR  ENG  MATH  HISTORY
JUNG  100   40    30       20
SHIN   80   50    30       70
KIM    90   80    50       80
KOR    100
ENG     40
Name: JUNG, dtype: int64
KOR        100
ENG         40
MATH        30
HISTORY     20
Name: JUNG, dtype: int64
JUNG    20
SHIN    70
KIM     80
Name: HISTORY, dtype: int64

In [94]:
# 행과 열 같이 선택하기 : iloc을 이용한 행 선택
# iloc[행 인덱스, 열 인덱스]

print(d2)
"""
      KOR  ENG  MATH  HISTORY
JUNG  100   40    30       20
SHIN   80   50    30       70
KIM    90   80    50       80
"""

print(d2.iloc[0:1])
"""
      KOR  ENG  MATH  HISTORY
JUNG  100   40    30       20

"""

print(d2.iloc[0:2,1:])
"""
      ENG  MATH  HISTORY
JUNG   40    30       20
SHIN   50    30       70
"""

# SHIN의 KOR,HISTORY성적 출력
print(d2.iloc[1,[0,3]])
"""
KOR        80
HISTORY    70
"""

      KOR  ENG  MATH  HISTORY
JUNG  100   40    30       20
SHIN   80   50    30       70
KIM    90   80    50       80
      KOR  ENG  MATH  HISTORY
JUNG  100   40    30       20
      ENG  MATH  HISTORY
JUNG   40    30       20
SHIN   50    30       70
KOR        80
HISTORY    70
Name: SHIN, dtype: int64

<h1>DataFrame 산술/논리 연산 및 filtering</h1>

In [135]:
import pandas as pd
import numpy as np

name = ["JUNG","SHIN","KIM"]
s1 = pd.Series([100,80,90] ,index = name)
s2 = pd.Series([40,50,80] ,index = name)
s3 = pd.Series([30,30,50] ,index = name)
s4 = pd.Series([20,70,80] ,index = name)

frame = {"KOR":s1, "ENG": s2, "MATH":s3, "HISTORY":s4}
d2 = pd.DataFrame(frame,index= name)
print(d2)
"""
      KOR  ENG  MATH  HISTORY
JUNG  100   40    30       20
SHIN   80   50    30       70
KIM    90   80    50       80
"""

print(d2.sum())
"""
KOR        270
ENG        170
MATH       110
HISTORY    170
"""
print(d2.sum(axis=1))
"""
JUNG    190
SHIN    230
KIM     300
"""

# 평균이라는 열 추가
d2["AVG"] = (d2.KOR + d2.ENG + d2.MATH + d2.HISTORY)/4
print(d2)
"""
      KOR  ENG  MATH  HISTORY   AVG
JUNG  100   40    30       20  47.5
SHIN   80   50    30       70  57.5
KIM    90   80    50       80  75.0
"""

del d2["AVG"]
# filtering
x = d2.ENG > 70
print(d2[x])
"""
     KOR  ENG  MATH  HISTORY
KIM   90   80    50       80
"""

y = d2 >70
print(d2[y])
"""
      KOR   ENG  MATH  HISTORY
JUNG  100   NaN   NaN      NaN
SHIN   80   NaN   NaN      NaN
KIM    90  80.0   NaN     80.0
"""

      KOR  ENG  MATH  HISTORY
JUNG  100   40    30       20
SHIN   80   50    30       70
KIM    90   80    50       80
KOR        270
ENG        170
MATH       110
HISTORY    170
dtype: int64
JUNG    190
SHIN    230
KIM     300
dtype: int64
      KOR  ENG  MATH  HISTORY   AVG
JUNG  100   40    30       20  47.5
SHIN   80   50    30       70  57.5
KIM    90   80    50       80  75.0
     KOR  ENG  MATH  HISTORY
KIM   90   80    50       80
      KOR   ENG  MATH  HISTORY
JUNG  100   NaN   NaN      NaN
SHIN   80   NaN   NaN      NaN
KIM    90  80.0   NaN     80.0
      KOR  ENG  MATH  HISTORY
JUNG  100   40    30       20
SHIN   80   50    30       70
KIM    90   80    50       80

<h1>DataFrame Sorting</h1>

In [150]:
import pandas as pd
import numpy as np

name = ["JUNG","SHIN","KIM"]
s1 = pd.Series([100,80,90] ,index = name)
s2 = pd.Series([40,50,80] ,index = name)
s3 = pd.Series([30,30,50] ,index = name)
s4 = pd.Series([20,70,80] ,index = name)

frame = {"KOR":s1, "ENG": s2, "MATH":s3, "HISTORY":s4}
d2 = pd.DataFrame(frame,index= name)
print(d2)

# index 기준 : DataFrame.sort_index(ascending = True/False)
print(d2.sort_index())
\
"""
      KOR  ENG  MATH  HISTORY
JUNG  100   40    30       20
KIM    90   80    50       80
SHIN   80   50    30       70
"""

# inplace = True 설정을 안하면 저장이 안된다
print(d2)
"""
      KOR  ENG  MATH  HISTORY
JUNG  100   40    30       20
SHIN   80   50    30       70
KIM    90   80    50       80
"""

# column 기준 : DataFrame.sort_values(by="column명", ascending = True/False)

print(d2.sort_values(by="KOR", ascending=True))

"""
      KOR  ENG  MATH  HISTORY
SHIN   80   50    30       70
KIM    90   80    50       80
JUNG  100   40    30       20
"""

      KOR  ENG  MATH  HISTORY
JUNG  100   40    30       20
SHIN   80   50    30       70
KIM    90   80    50       80
      KOR  ENG  MATH  HISTORY
JUNG  100   40    30       20
KIM    90   80    50       80
SHIN   80   50    30       70
      KOR  ENG  MATH  HISTORY
JUNG  100   40    30       20
SHIN   80   50    30       70
KIM    90   80    50       80
      KOR  ENG  MATH  HISTORY
SHIN   80   50    30       70
KIM    90   80    50       80
JUNG  100   40    30       20